body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUE0a9TJrZLuew-EnvULEvSjJ3_2L-r4xxNg&usqp=CAU");    
}
.container {
    max-width: 600px;
    margin: 200px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #333;
}
form {
    margin-top: 20px;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}
input[type="text"],
input[type="price"],
input[type="quantity"],
input[type="material"],
input[type="product_description"],
input[type="gender"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}
.form-footer {
    margin-top: 15px;
    text-align: center;
}
.form-footer a {
    color: #007bff;
    text-decoration: none;
}
.form-footer a:hover {
    text-decoration: underline;
}
#register_as{
    font-size: medium;
}