<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sustainable Clothing</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/customer.css') }}">
</head>
<body>
    <header>
        <h1>EVERWEAVE</h1>
        <div class="navbar">
            <a id="home" href="./home">Home</a></li>
            <a id="my_orders" href="./orders">My Orders</a>
            <a id="my_account" href="./account">My Account</a>
            <a id="my_reviews" href="./reviews">My Reviews</a>
            <a id="cart" href="./cart">My Cart</a>
            <a id="logout" href="/register">Log Out</a>
        </div>
    </header>

    <div class="data">
        <h1>Available Products</h1>
    {% if check %}
        <p>No product available for sell right now.</p>
    {% else %}
        <table border="1">
            <thead>
                <tr>
                    {% for header in table_data[0] %}
                        <th>{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in table_data[1:] %}
                    <tr>
                        {% for column in row %}
                            <td>{{ column }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    </div>

    <a class="button" href="./add_cart">Add Items to Cart</a>
    <a class="button" href="./remove_cart">Remove Items from Cart</a>
    
    <footer>
        <p>&copy; 2024 EVERWEAVE. All rights reserved.</p>
    </footer>
</body>
</html>
