<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sustainable Clothing</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/delivery_agent_status.css') }}">
</head>
<body>
    <header>
        <h1>EVERWEAVE</h1>
        <div class="navbar">
            <a id="home" href="./home">Home</a>
            <a id="undelivered" href="./undelivered">Undelivered Orders</a>
            <a id="delivered" href="./delivered">Delivered Orders</a>
            <a id="status" href="./status">My Status</a>
            <a id="account" href="./account">My Account</a>
            <a id="logout" href="/register">Logout</a>
        </div>
        
    </header>

    
    {% if status %}
        <h1>Your Delivery Status is Active.</h1>
    {% else %}
        <h1>Your Delivery Status is Inactive.</h1>
    {% endif %}
    <a class="button" href="./change_status">Change My Status</a>
    
    <footer>
        <p>&copy; 2024 EVERWEAVE. All rights reserved.</p>
    </footer>
</body>
</html>
