<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sustainable Clothing</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/delivered_orders.css') }}">
</head>
<body>
    <header>
        <h1>EVERWEAVE</h1>
        <div class="navbar">
            <a id="home" href="./home">Home</a>
            <a id="undelivered" href="./undelivered">Undelivered Orders</a>
            <a id="delivered" href="./delivered">Delivered Orders</a>
            <a id="status" href="./status">My Status</a>
            <a id="account" href="./account">My Account</a>
            <a id="logout" href="/register">Logout</a>
        </div>
        
    </header>

    
    {% if check %}
        <h1>No Order Delivered Yet.</h1>
    {% else %}
        <div class="data">
            <h1>Your Orders</h1>
            <table border="1">
                <thead>
                    <tr>
                        {% for header in table_data[0] %}
                            <th>{{ header }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in table_data[1:] %}
                        <tr>
                            {% for column in row %}
                                <td>{{ column }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    
    <footer>
        <p>&copy; 2024 EVERWEAVE. All rights reserved.</p>
    </footer>
</body>
</html>
