<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}">
</head>
<body>
    <div class="container">
        <h1>Login to EVERWEAVE</h1>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="flash-messages">
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% endwith %}

        <form id="loginForm" action="/login" method="POST">
            <div class="form-group">
                <label for="login_as">Login as</label>
                <select id="login_as" name="login_as" class="form-control" required>
                    <option value="" selected disabled>Select an option</option>
                    <option value="customer">Customer</option>
                    <option value="supplier">Supplier</option>
                    <option value="delivery_agent">Delivery Partner</option>
                </select>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Login">
            </div>
        </form>
        <div class="form-footer">
            <p>Don't have an account? <a href="{{ url_for('register_page')}}">Register here</a></p>
        </div>
    </div>
</body>
</html>
