<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sustainable Clothing</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/pending_supplies.css') }}">
</head>
<body>
    <header>
        <h1>{{ heading }}</h1>
        <div class="navbar">
            <a id="home" href="./home">Home</a>
            <a id="management" href="./management">Supplier Management</a>
            <a id="pending_supplies" href="./pending_supplies">Pending Supplies</a>
            <a id="items_delivered" href="./delivered">Items Delivered</a>
            <a id="reviews" href="./reviews">My Reviews</a>
            <a id="logout" href="/register">Log Out</a>
            <a id="account" href="./account">My Account</a>
            <div class="search-container">
                <form action="/search" method="get">
                    <input type="text" placeholder="Search..." name="search">
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>
    </header>

    <div class="data">
        <h1>{{ heading_2 }}</h1>
    {% if check %}
        <p>{{ dialogue }}</p>
    {% else %}
        <table border="1">
            <thead>
                <tr>
                    {% for header in table_data[0] %}
                        <th>{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in table_data[1:] %}
                    <tr>
                        {% for column in row %}
                            <td>{{ column }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    </div>


    <footer>
        <p>&copy; 2024 EVERWEAVE. All rights reserved.</p>
    </footer>
</body>
</html>