<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sustainable Clothing</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/supplier_management.css') }}">
</head>
<body>
    <header>
        <h1>EVERWEAVE</h1>
        <div class="navbar">
            <a id="home" href="./home">Home</a>
            <a id="management" href="./management">Supplier Management</a>
            <a id="logout" href="/register">Log Out</a>
            <a id="account" href="./account">My Account</a>
        </div>
    </header>

    <div class="data">
        <h1>Your Products</h1>
    {% if check %}
        <p>You have not added any product. Add a product now by clicking on the add new product button below.</p>
    {% else %}
        <table border="1">
            <thead>
                <tr>
                    {% for header in table_data[0] %}
                        <th>{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in table_data[1:] %}
                    <tr>
                        {% for column in row %}
                            <td>{{ column }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    </div>

    <a class="button" href="./management/add_product">Add New Product</a>
    <a class="button" href="./management/update_quantity">Update Quantity</a>
    <a class="button" href="./management/remove_product">Remove Product</a>

    <footer>
        <p>&copy; 2024 EVERWEAVE. All rights reserved.</p>
    </footer>
</body>
</html>